# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.venv/
venv/

# Django
*.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# Env
.env
.env.*
!.env.example

# Editor
.vscode/
.idea/

# OS
.DS_Store
